<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>attach css clases</title>
</head>
<body>
  <div id="app">
      <div class="container py-5 my-5">
          <div class="row">
              <div class="col">
                    <!-- <p v-if="show">You can see me</p>
                    <p v-else>now you can see me</p> -->
                    <template v-if="show">
                        <h3>I'm a template el</h3>
                        <p>I, also belong to the same template</p>
                    </template>
                    <template v-else>
                            <div style="background:#f8f8f8; padding:5px;">
                                <h3>I'm a second template element</h3>
                                <p>I, also belong to the second template</p>
                            </div>
                        </template>
                    <p v-show="show">Do you also see me</p>
                    <hr>
                    <button class="btn btn-primary" @click="show = !show">change clases</button>
              </div>
          </div>
      </div>
  </div>
  <script src="vue.js"></script>
  <script src="app.js"></script>
</body>
</html>