<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>attach css clases</title>
</head>
<body>
    <div id="app">
        <div class="container py-5 my-5">
            <div class="row">
                <div class="col">
                    <ul>
                        <li v-for="ingredient in ingredients" :key="ingredient">{{ ingredient }}</li>
                    </ul>
                    <hr>
                    <p>ingredients and the current index</p>
                    <ul>
                        <li v-for="(ingredient, index) in ingredients">{{ ingredient }} - no: <b>{{ index + 1}}</b></li>
                    </ul>
                    <button class="btn btn-sm btn-secondary" @click="ingredients.push('spices')">add new</button>
                    <hr>
                    <p>render ingredients with template</p>
                    <template v-for="(ingredient, index) in ingredients">
                        <span>{{ingredient}}</span> <span>&nbsp;&nbsp;</span> <span>no: <b>{{ index + 1}}</b></span><br>
                    </template>
                    <hr>
                    <p>loop through array of objects</p>
                    <ul>
                        <li><i>normal usage</i></li>
                        <li v-for="person in persons">{{person.name}}  {{ person.age}}</li>
                    </ul>
                    <ul>
                        <li><i>loop in loop usage</i></li>
                        <li v-for="person in persons">
                            <span v-for="value in person"> {{ value }}</span>
                        </li>
                    </ul>
                    <ul>
                        <li><i>loop in loop adding key atr and index atr</i></li>
                        <li v-for="person in persons">
                            <span v-for="(value, key, index) in person"> <b>{{ index + 1}}</b> {{ key }} : {{ value }}, </span>
                        </li>
                    </ul>
                    <hr>
                    <p>loop through numbers</p>
                    <span v-for="num in 15">{{ num }}</span>
                </div>
            </div>
        </div>
    </div>
  <script src="vue.js"></script>
  <script src="appLists.js"></script>
</body>
</html>